.collections {
    padding: 62px 15px;
}

.collections__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.collect__card {
    width: 100%;
    height: 193px;
    overflow:hidden;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .collect__card1{
    background: url(../img/collect1.png) no-repeat center/cover;
 }
 .collect__card2 {
     background: url(../img/collect2.png) no-repeat center/cover;
 }
 .collect__card3 {
     background: url(../img/collect3.png) no-repeat center/cover;
 }

.collect_bg {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.lines{
    position: absolute;
    width: 97%;
    height: 94%;
    object-fit: cover;
    top: 7px;
    left: 6px;
    z-index: 10;
    transition: 0.25s;
     transform: scale(1.3);
}

.collect__body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.25s;
    z-index: 10;
}

.collect__icon{
    font-size: 40px;
    transition: 0.25s;
}

.collect__card:hover .lines{
    transform: scale(1);
}

.collect__card:hover .collect__body {
    transform: scale(1.3);
}

.collect__card:hover .collect__icon {
    transform: rotateX(360deg);
}